/* Estilo para el reproductor y el contenedor */
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

/* Contenedor principal del reproductor */
.player-container {
    text-align: center;
    width: 70%;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Estilo para las instrucciones */
.instructions {
    margin-top: 20px;
    font-size: 1rem;
    color: #FFE512;
}

.instructions ul {
    list-style-type: none;
    padding: 0;
}

.instructions li {
    margin: 10px 0;
}

/* Estilo para las imágenes */
.image-container {
    margin-top: 20px;
}

.image-slide {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* Estilo para el título */
h1 {
    font-size: 2rem;
    color: #FFE512;
}
